.profile {
    height: 250px;
}

.profile img {
    margin: 0 auto;
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 100%;
    border: 1px white solid;
}

.topic-wrapper {
    display: flex;
}

.topic {
    border-radius: 5px;
    padding: 10px 0;
    width: 300px;
    border: 1px solid white;
    margin: auto;
}

.topic img {
    width: 100%;
}

